
<section id="bottom" class="wet-asphalt">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h4><%= I18n.t('bottom.links') %></h4>
        <div>
          <ul class="arrow">
            <li><a href="/about-us.html"><%= I18n.t('header.intro') %></a></li>
            <li><a href="/about-us.html"><%= I18n.t('header.leadership') %></a></li>
            <li><a href="/schedule.html"><%= I18n.t('header.schedule') %></a></li>
            <li><a href="/building.html"><%= I18n.t('header.building') %></a></li>
            <li><a href="/contact-us.html"><%= I18n.t('header.contact') %></a></li>
          </ul>
        </div>
      </div><!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">
        <h4>&nbsp;</h4>
        <div>
          <ul class="arrow">
            <li><a href="/kids.html"><%= I18n.t('kids') %></a></li>
            <li><a href="/youth.html"><%= I18n.t('youth') %></a></li>
            <li><a href="/students.html"><%= I18n.t('students') %></a></li>
            <li><a href="/family.html"><%= I18n.t('families') %></a></li>
            <li><a href="/visiting-scholar.html"><%= I18n.t('visiting_scholar') %></a></li>
          </ul>
        </div>
      </div><!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">
        <h4><%= link_to I18n.t('bottom.news'), '/news.html' %></h4>
        <div>
          <% blog.articles[0..2].each do |article| %>

        <div class="media">
            <div class="pull-left glyphicon glyphicon-leaf">
            </div>
            <div class="media-body">
              <span class="media-heading"><a href="<%= article.url %>"><%= article.title %></a></span>
              <small class="muted"><%= article.date.strftime('%b %e, %Y') %></small>
            </div>
          </div>
            <% end %>
        </div>
      </div><!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">
        <h4><%= I18n.t('bottom.address') %></h4>
        <address>
          <strong>Tucson Chinese Christian Church</strong><br>
          307 E. Helen Street<br>
          Tucson, AZ 85705<br>
          <abbr title="Phone">Phone:</abbr> (520) 792-1374
        </address>
        <h4>Email</h4>
        <a href="mailto:contact@tcccaz.org">contact@tcccaz.org</a>
      </div> <!--/.col-md-3-->
    </div>
  </div>
</section><!--/#bottom-->
