<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index.html"><img src="/images/tcccaz-logo.png" alt="logo" height="37px">&nbsp;<%= I18n.t(:tccc) %></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/index.html"><i class="icon-home icon-large"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t('header.about_us') %> <i class="icon-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="/about-us.html"><%= I18n.t('header.intro') %></a></li>
            <li><a href="/our-beliefs.html"><%= I18n.t('header.beliefs') %></a></li>
            <li><a href="/leadership.html"><%= I18n.t('header.leadership') %></a></li>
          </ul>
        </li>
        <li><a href="/news.html"><%= I18n.t('header.news') %></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t('header.ministry') %> <i class="icon-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="/kids.html"><%= I18n.t('kids') %></a></li>
            <li><a href="/youth.html"><%= I18n.t('youth') %>e</a></li>
            <li><a href="/students.html"><%= I18n.t('students') %></a></li>
            <li><a href="/family.html"><%= I18n.t('families') %></a></li>
            <li><a href="/sundayschool.html"><%= I18n.t('sundayschool') %></a></li>
            <!--<li><a href="/visiting-scholar.html"><%= I18n.t('visiting_scholar') %></a></li>-->
          </ul>
        </li>
        <li><a href="/schedule.html"><%= I18n.t('header.schedule') %></a></li>
        <!--<li><a href="sermons.html"><%= I18n.t('header.sermons') %></a></li>-->
        <li><a href="/building.html"><%= I18n.t('header.building') %></a></li>
        <li><a href="/contact-us.html"><%= I18n.t('header.contact') %></a></li>
        <li><%= partial 'paypal_donation' %></li>
      </ul>
    </div>
  </div>
</header><!--/header-->
