<section id="main-slider" class="no-margin">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(/images/retreat14.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1"><%= I18n.t('slide.item1.title') %></h2>
                                    <p class="animation animated-item-1"><%= I18n.t('slide.item1.subtitle1') %></p>
                                    <p class="animation animated-item-2"><%= I18n.t('slide.item1.subtitle2') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(/images/mtlemmon.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <h2 class="boxed animation animated-item-1"><%= I18n.t('slide.item2.title') %></h2>
                                    <p class="animation animated-item-1"><%= I18n.t('slide.item2.subtitle1') %></p>
                                    <p class="boxed animation animated-item-2"><%= I18n.t('slide.item2.subtitle2') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(/images/lake.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1"><%= I18n.t('slide.item3.title') %></h2>
                                    <p class="animation animated-item-1"><%= I18n.t('slide.item3.subtitle1') %></p>
                                    <p class="animation animated-item-2"><%= I18n.t('slide.item3.subtitle2') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="services" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-twitter icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><%= I18n.t('faith') %></h3>
                            <p><%= I18n.t('faith_verse') %></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-star-empty icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><%= I18n.t('hope') %></h3>
                            <p><%= I18n.t('hope_verse') %></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-heart icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><%= I18n.t('love') %></h3>
                            <p><%= I18n.t('love_verse') %></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#services-->