
    <section id="about-us" class="container">
        <div class="gap"></div>
        <h1 class="center"><%= I18n.t('about_us.leadership') %></h1>
        <div class="gap"></div>

        <div id="meet-the-team" class="row">
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="/images/male.jpg" alt="" ></p>
                    <h5><%= I18n.t('about_us.staff1.name') %><small class="designation muted"><%= I18n.t('about_us.staff1.title') %></small></h5>
                    <p><%= I18n.t('about_us.staff1.bio') %></p>
                </div>
            </div>

            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="/images/female.png" alt="" ></p>
                  <h5><%= I18n.t('about_us.staff2.name') %><small class="designation muted"><%= I18n.t('about_us.staff2.title') %></small></h5>
                  <p><%= I18n.t('about_us.staff2.bio') %></p>                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="/images/male.jpg" alt="" ></p>
                  <h5><%= I18n.t('about_us.staff3.name') %><small class="designation muted"><%= I18n.t('about_us.staff3.title') %></small></h5>
                  <p><%= I18n.t('about_us.staff3.bio') %></p>                </div>
            </div>        
            <div class="col-md-3 col-xs-6">
                <div class="center">
                    <p><img class="img-responsive img-thumbnail img-circle" src="/images/male.jpg" alt="" ></p>
                  <h5><%= I18n.t('about_us.staff4.name') %><small class="designation muted"><%= I18n.t('about_us.staff4.title') %></small></h5>
                  <p><%= I18n.t('about_us.staff4.bio') %></p>
                </div>
            </div>
        </div><!--/#meet-the-team-->
    </section><!--/#about-us-->

