<section id="about-us" class="container">
  <div class="gap"></div>
  <h1 class="center"><%= I18n.t('about_us.leadership') %></h1>

  <div class="gap"></div>

  <div id="meet-the-team" class="row">

    <div class="col-md-4 col-xs-12">
      <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="/images/pastorcao2.png" alt=""></p>
        <h5 class="lead"><%= I18n.t('about_us.staff1.name') %>
          <small class="designation muted"><h4><%= I18n.t('about_us.staff1.title') %></h4></small>
        </h5>
      </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="/images/charles0.png" alt=""></p>
        <h5 class="lead"><%= I18n.t('about_us.staff3.name') %>
          <small class="designation muted"><h4><%= I18n.t('about_us.staff3.title') %></h4></small>
        </h5>
      </div>
    </div>

    <div class="col-md-4 col-xs-12">
      <div class="center">
        <p><img class="img-responsive img-thumbnail img-circle" src="/images/wu2.png" alt=""></p>
        <h5 class="lead"><%= I18n.t('about_us.staff4.name') %>
          <small class="designation muted"><h4><%= I18n.t('about_us.staff4.title') %></h4></small>
        </h5>
      </div>
    </div>
  </div>
  <!--/#meet-the-team-->
</section><!--/#about-us-->

